* {
    font-family: "cairo", sans-serif;
    font-weight: 400;
}

@keyframes slide-in {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes slide-out {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-200%);
    }
}

//mixing for mediaqueries
@mixin breakpoint($screen) {
    @media (max-width: $screen+"px") {
        @content;
    }
}

// h tags and p tags media queries
h1 {
    @include breakpoint(1020) {
        font-size: 36px;
    }
    @include breakpoint(900) {
        font-size: 34px;
    }
    @include breakpoint(786) {
        font-size: 30px;
    }
    @include breakpoint(570) {
        font-size: 26px;
    }
    @include breakpoint(480) {
        font-size: 22px;
    }
    @include breakpoint(420) {
        font-size: 20px;
    }
}
h2 {
    @include breakpoint(1020) {
        font-size: 28px;
    }
    @include breakpoint(900) {
        font-size: 26px;
    }
    @include breakpoint(786) {
        font-size: 22px;
    }
    @include breakpoint(570) {
        font-size: 20px;
    }
    @include breakpoint(480) {
        font-size: 18px;
    }
}
h3 {
    @include breakpoint(1020) {
        font-size: 24px;
    }
    @include breakpoint(900) {
        font-size: 22px;
    }
    @include breakpoint(786) {
        font-size: 18px;
    }
    @include breakpoint(570) {
        font-size: 16px;
    }
    @include breakpoint(480) {
        font-size: 14px;
    }
}
h5 {
    @include breakpoint(786) {
        font-size: 14px;
    }
    @include breakpoint(570) {
        font-size: 12px;
    }
}
p {
    @include breakpoint(1200) { font-size: 14px; }
    @include breakpoint(1020) { font-size: 13px; }
    @include breakpoint(768) { font-size: 12px; }
}

html {
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    @include breakpoint(767) { height: auto;}
}

//button animation mixing
@mixin transition($property: all, $duration: 0.5s, $ease: cubic-bezier(0.65,-0.25,0.25, 1.95)) {
    transition: $property $duration $ease;
  }

.btn {
    background-color: #00a5a7;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    transition: 1s ease-in-out;
    @include transition(all, 0.5s, cubic-bezier(0.65,-0.25,0.25,1.95));
    &:hover, &:focus, &:active {
        letter-spacing: 0.105rem;
        color: white;
      }
}
.blue {
    color: #00a5a7;
}

body {
    background-image: url("../images/services/SprayBG2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.top-header {
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    p {
        font-size: 12px;
        @include breakpoint(767) { text-align: center; }
    }
    .address {
        span {
            color: rgb(87, 87, 87);
        }
    }
}

.menu-section {
    align-items: center;
    img {
        width: 8%;
        margin-top: 5px;
        object-fit: contain;
    }
    .menu {
        width: 100%;
        overflow: hidden;
        transition: all 150ms ease-in-out;
        z-index: 1000;
        .hamburger {
            background-color: rgba(255, 255, 255, 0.774);
            padding: 1%;
            display: none;
            border-radius: 5px;
            align-items: center;
            outline: none;
            .hamburger-box {
                display: flex;
                justify-content: center;
            }
            .hamburger-inner {
                background-color: #00a5a7;
                width: 30px;
                &::after,
                &::before {
                    background-color: #00a5a7;
                    width: 30px;
                }
            }
        }
        ul {
            list-style: none;
            background-color: rgba(255, 255, 255, 0.774);
            margin: 0px;
            padding: 0 30px;
            border-radius: 5px;
            align-items: center;
            display: none;
            @include breakpoint(600) { padding: 0 10px;}
            @include breakpoint(437) { padding: 0 5px;}
            @include breakpoint(320) { padding: 0 2px;}
            li {
                cursor: pointer;
                div {
                    display: inline-block;
                    margin: 0 30px;
                    @include breakpoint(900) { margin: 0 15px;}
                    @include breakpoint(600) { margin: 0 10px;}
                    @include breakpoint(480) { margin: 0 5px;}
                    @include breakpoint(320) { margin: 0 2px;}
                }
                a {
                    text-decoration: none;
                    position: relative;
                    color: black;
                    font-weight: 500;
                    display: inline-block;
                    @include breakpoint(480) { font-size: 13px;}
                    @include breakpoint(320) { font-size: 12px;}
                    &:hover{
                        color: #00a5a7;
                    }
                    &:nth-of-type(4) {
                        &:hover::after {
                            width: 95%;
                        }
                    }
                }
            }
        }
        .no-burger { 
            display: flex; padding: 10px 20px; justify-content: center;
            @include breakpoint(600) { padding: 10px;}
        }
        .with-burger { 
            display: none; 
            padding: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            transition: all 300ms ease-in-out;
            animation-duration: 1s;
            padding: 0 1%;
            li {
                padding: 10px 0; 
                border-bottom: 1px solid black;
                a{
                    height: 40px; width: 40px;
                    background-position: center; background-size: contain; background-repeat: no-repeat;
                    position: relative;
                    &:hover::after {
                        position: absolute;
                        left: 50px;
                        background-color: #00a5a7;
                        border-radius: 5px;
                        color: white;
                        padding : 5px;
                        font-size: 12px;
                    }
                }
                &:nth-of-type(1) { a {background-image: url("../images/logo.svg"); &:hover::after{ content:'HOME' }}}
                &:nth-of-type(2) { a {background-image: url("../images/icons/cleaning-service.svg"); &:hover::after{ content:'SERVICES' }}}
                &:nth-of-type(3) { a {background-image: url("../images/icons/disinfectant.svg"); &:hover::after{ content:'PRODUCT' }}}
                &:nth-of-type(4) { a {background-image: url("../images/icons/group.svg"); &:hover::after{ content:'ABOUT' }}}
                &:nth-of-type(5) { border:none; a {background-image: url("../images/icons/mail.svg"); &:hover::after{ content:'CONNECT' }}}
            }
        }
        button {
            padding: 10px 15px;
        }
    }
}

.banner {
    height: 95%;
    @include breakpoint(767) {
        display: block !important;
        height: 100%;
        text-align: center;
        margin: 30px 0;
    }
    .logo.large {
        width: 35%;
        @include breakpoint(767) { display: none;}
    }
    .logo.small {
        width: 35%;
        display: none;
        @include breakpoint(767) { display: block; margin: 0 auto;}
    }
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: #1c1c1c;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -20px;
            width: 10%;
            height: 3px;
            background-color: #00a5a7;
            @include breakpoint(767) { left:50%; transform:translateX(-50%); width:20%}
        }
        @include breakpoint(1020) { font-size: 45px;}
    }
    p,
    h5 {
        font-weight: 700;
        color: #1c1c1c;
    }
    h5 {
        margin-top: 40px;
    }
    .btn {
        margin-top: 20px;
        padding: 15px 20px;
        font-weight: 700;
    }
}

.white {
    width: 100%;
    background-color: white;
    padding: 8% 0;
    position: relative;
    overflow: hidden;
    .plus {
        position: absolute;
        height: 200px;
        width: 300px;
        overflow: hidden;
        left: 20px;
        color: #00a5a7;
        top: -10px;
        z-index: 0;
        opacity: 0.3;
    }
    .brochure {
        margin-bottom: 8%;
        .brochure-icons{
            flex-wrap: wrap;
            justify-content: space-around;
            .brochure-section {
                position: relative;
                z-index: 1;
                width: 45%;
                border: 1px solid #00a5a7;
                border-radius: 2px;
                padding: 30px 30px;
                background-color: white;
                display: inline-flex;
                align-items: center;
                margin: 10px 0;
                justify-content: space-between;
                @include breakpoint(480) { padding: 20px 10px;}
                .img { 
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 40%;
                    margin-right: 20px;
                    height: 100%;
                    @include breakpoint(767) { margin-right: 10px; width: 55%;}
                }
                .epa { background-image: url('../images/icons/EPA.svg');}
                .fast { background-image: url('../images/icons/Fast\ and\ reliable.svg'); }
                .tech { background-image: url('../images/icons/cleaning-service.svg')}
                .germ { background-image: url('../images/icons/safe.svg')}
                p {
                    margin: 0;
                    @include breakpoint(480) { text-align: center;}
                }
            }
        }
        .brochure-info {
            padding: 20px 0;
            @include breakpoint(991) {
                margin-top: 20px;
                text-align: center;
            }
            .btn {
                padding: 15px 20px;
            }
        }
    }
    .services {
        margin: 5% 0;
        h2 {
            width: 100%;
            font-weight: 700;
        }
        .img {
            height: inherit;
            background-position: center;
            background-size: cover;
        }
        .info {
            position: relative;
            padding: 5%;
            h3 {
                position: absolute;
                top: 45%;
            }
        }
        .blue {
            color: #00a5a7;
        }
        .show { @include breakpoint(767) { display: none; } }
        .hide { display: none; 
            @include breakpoint(767) { 
                width: 100%;
                display: block; 
                position: relative !important;
                transform: none !important;
                left: 0 !important;
                right: 0 !important;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        &.part-1 {
            .img {
                background-image: url("../images/services/service2.png");
                background-position: top;
            }
            h3 {
                right: -100px;
                transform: rotate(90deg) translateY(-50%);
                @include breakpoint(768) { right: -50px; }
                @include breakpoint(480) { right: -45px; }
            }
        }
        &.part-2 {
            .img {
                background-image: url("../images/services/spray.jpg");
            }
            h3 {
                left: -100px;
                transform: rotate(-90deg) translateY(-50%);
                @include breakpoint(768) { left: -50px; }
                @include breakpoint(480) { left: -45px; }
            }
        }
        &.part-3 {
            .img {
                background-image: url("../images/services/crew3.jpg");
            }
            h3 {
                right: -100px;
                transform: rotate(90deg) translateY(-50%);
                @include breakpoint(768) { right: -50px; }
                @include breakpoint(768) { right: -45px; }
            }
        }
    }
}
.we-do {
    background-color: transparent;
    padding: 5% 0;
    h2 {
        width: 100%;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .box { @include breakpoint(767) { width: 50%;} }
    .section {
        border-radius: 2px;
        padding: 20px 0;
        border: 1px solid #00a4a7b6;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include breakpoint(991) {
            padding: 10px 0;
            margin-bottom: 20px;
            h3 { font-size: 18px;}
        }
        img {
            height: 50%;
            margin-bottom: 10px;
        }
    }
}

.product {
    padding: 5% 0;
    background-color: white;
    @include breakpoint(767) { h3 {text-align: center;}}
    h2 { font-weight: 700;}
    ul {
        list-style-type: circle;
        padding-left: 20px;
        li {
            color: #00a5a7;
            &::marker {
            }
        }
    }
    .product-img {
        background-image: url('../images/back.png');
        background-position: bottom;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
        @include breakpoint(767) { margin-bottom: 20px;}
        &::after {
            position: absolute;
            content: "";
            height: 100%; width: 100%;
            left:0; top:0;
            z-index: 1000;
            box-shadow: 1px 1px 1px 1px white;
        }
    }
}

.about {
    padding: 0 0 5% 0;
    background-color: white;
    .mission { @include breakpoint(767) { margin-top: 20px; }}
    .mission-logo, .vision-logo {
        margin-right: 15px;
        background-size: contain;
        height: 30px;
        width: 30px;
        background-position: center;
    }
    .mission-logo { background-image: url('../images/icons/goal.svg');}
    .vision-logo { background-image: url('../images/icons/vision.svg');}
    h2, h3 { font-weight: 500; }
}

.clients {
    padding: 5% 0;
    h2 { font-weight: 700;}
    .swiper-container {
        width: 100%;
        .swiper-slide {
            display: flex;
            align-items: center;
            img {
                width: 100%;
                // filter: grayscale(1);
            }
        }
    }
}

.connect {
    padding: 5% 0;
    background-color: white;
    h2 { font-weight: 700; }
    div.d-flex { @include breakpoint(767) { justify-content: center !important;}}
    img {
        width: 80%;
        @include breakpoint(767) {
            margin-top: 20px;
        }
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .width {
            width: 45%;
            &:nth-child(2) {
                float: right;
            }
        }
        label,
        input,
        textarea {
            width: 100%;
            margin-top: 10px;
        }
        input,
        textarea {
            border: none;
            border-bottom: 1px solid #00a5a7;
            background-color: transparent;
            border-radius: 2px;
            &:-moz-placeholder {
                padding-left: 10px;
            }
        }
        .btn {
            margin-top: 30px;
            padding: 5px 25px;
        }
    }
}

footer {
    padding: 5% 0;
    background-color: #00a5a7;
    h5 { color: white; }
    h2 { font-weight: 700; color: white;}
    .section {
        @include breakpoint(767) { margin-bottom: 20px}
        div.d-flex {}
        img { width: 20%; }
        span { color: white; }
        p { text-align: center; color: white;}
        a { text-decoration: none; color: white; 
            @include breakpoint(480) { font-size: 12px;}
        }
        .follow-us {
            display: flex;
            justify-content: space-evenly;
            a {
                display: inline-block;
                height: 30px;
                width:30px;
                background-size: contain;
                background-position: center;
                &:nth-of-type(1) { background-image: url("../images/icons/facebook.svg");}
                &:nth-of-type(2) { background-image: url("../images/icons/instagram.svg");}
                &:nth-of-type(3) { background-image: url("../images/icons/twitter.svg");}
            }
        }
    }
}
