* {
    font-family: "cairo", sans-serif;
    font-weight: 400;
}

@keyframes slide-in { 
    0% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-200%); }
}

//mixing for mediaqueries
@mixin breakpoint($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }


 // h tags and p tags media queries
 h1 {
     @include breakpoint(1020) { font-size: 36px; }
     @include breakpoint(900) {font-size: 34px; }
     @include breakpoint(786) {font-size: 30px; }
     @include breakpoint(570) {font-size: 26px; }
     @include breakpoint(480) {font-size: 22px; }
     @include breakpoint(420) {font-size: 20px; }
 }
 h2 {
     @include breakpoint(1020) { font-size: 28px; }
     @include breakpoint(900) { font-size: 26px; }
     @include breakpoint(786) { font-size: 22px; }
     @include breakpoint(570) {font-size: 20px; }
     @include breakpoint(480) {font-size: 18px; }
 }
 h3 {
     @include breakpoint(1020) { font-size: 24px; }
     @include breakpoint(900) { font-size: 22px; }
     @include breakpoint(786) { font-size: 18px; }
     @include breakpoint(570) {font-size: 16px; }
     @include breakpoint(480) {font-size: 14px; }
 }
 h4 {
     @include breakpoint(1020) { font-size: 21px; }
     @include breakpoint(900) { font-size: 19px; }
     @include breakpoint(786) { font-size: 15px; }
     @include breakpoint(570) {font-size: 13px; }
 }
 h5 {
    @include breakpoint(786) { font-size: 14px; }
    @include breakpoint(570) {font-size: 12px; }
 }

html {
    scroll-behavior: smooth;
}

#home { height: 100vh;}

.btn {
    background-color: #00a5a7;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    &:hover {
        transform: scale(1.01);
        transition: all 150ms ease-in-out;
        color: whitesmoke;
    }
}
.blue {
    color: #00a5a7;
}

body {
    background-image: url("../images/services/SprayBG2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.top-header {
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    p {
        font-size: 12px;
    }
    .address {
        span {
            color: rgb(87, 87, 87);
        }
    }
}

.menu-section {
    align-items: center;
    img {
        width: 8%;
        margin-top: 5px;
        object-fit: contain;
    }
    .menu {
        width: 100%;
        overflow: hidden;
        left: 10px;
        transition: all 150ms ease-in-out;
        z-index: 1000;
        .hamburger {
            background-color: rgba(255, 255, 255, 0.514);
            padding: 1%;
            display:  flex;
            border-radius: 5px;
            align-items: center;
            outline: none;
            .hamburger-box {
                display: flex;
                justify-content: center;
            }
            .hamburger-inner {
                background-color: #00a5a7;
                width: 30px;
                &::after, &::before {
                    background-color: #00a5a7;
                    width: 30px;
                }
            }
        }
        ul {
            list-style: none;
            background-color: rgba(255, 255, 255, 0.514);
            margin: 0px;
            padding: 0  30px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            align-items: center;
            display: none;
            transition: all 300ms ease-in-out;
            animation-duration: 1s;
            li {
                cursor: pointer;
                div {
                    display: inline-block;
                    margin: 0 30px;
                }
                a {
                    text-decoration: none;
                    position: relative;
                    color: black;
                    font-weight: 500;
                    display: inline-block;
                    &:hover::after {
                        position: absolute;
                        content: "";
                        left: 3%;
                        bottom: -100%;
                        width: 95%;
                        background-color: #00a5a7;
                        height: 5px;
                    }
                    &:nth-of-type(4) {
                        &:hover::after {
                            width: 95%;
                        }
                    }
                }
            }
        }
        button {
            padding: 10px 15px;
        }
    }
}

.banner {
    margin: 50px 0 8% 0;
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: #1c1c1c;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -20px;
            width: 10%;
            height: 3px;
            background-color: #00a5a7;
        }
    }
    p,
    h5 {
        font-weight: 700;
        color: #1c1c1c;
    }
    h5 {
        margin-top: 40px;
    }
    .btn {
        margin-top: 20px;
        padding: 15px 20px;
        font-weight: 700;
    }
}

.white {
    width: 100%;
    background-color: white;
    padding: 8% 0;
    position: relative;
    overflow: hidden;
    .plus {
        position: absolute;
        height: 200px;
        width: 300px;
        overflow: hidden;
        left: 20px;
        color: #00a5a7;
        top: -10px;
        z-index: 0;
        opacity: 0.3;
    }
    .brochure {
        margin-bottom: 8%;
        .brochure-section {
            position: relative;
            z-index: 1;
            width: 45%;
            border: 1px solid #00a5a7;
            border-radius: 2px;
            padding: 30px 50px;
            display: inline-flex;
            justify-content: space-between;
            p {
                margin: 0;
            }
        }
        .margin {
            margin: 0 auto 25px auto;
            display: flex;
        }
        .brochure-info {
            padding: 20px 0;
            .btn {
                padding: 15px 20px;
            }
        }
    }
    .services {
        margin: 5% 0;
        h2 {
            width: 100%;
        }
        .img {
            height: inherit;
            background-position: center;
            background-size: cover;
        }
        .info {
            position: relative;
            padding: 5%;
            h3 {
                position: absolute;
                top: 45%;
            }
        }
        .blue {
            color: #00a5a7;
        }
        &.part-1 {
            .img {
                background-image: url("../images/services/service2.png");
            }
            h3 {
                right: -100px;
                transform: rotate(90deg) translateY(-50%);
            }
        }
        &.part-2 {
            .img {
                background-image: url("../images/services/spray.jpg");
            }
            h3 {
                left: -100px;
                transform: rotate(-90deg) translateY(-50%);
            }
        }
        &.part-3 {
            .img {
                background-image: url("../images/services/crew3.jpg");
            }
            h3 {
                right: -100px;
                transform: rotate(90deg) translateY(-50%);
            }
        }
    }
}
.we-do {
    background-color: transparent;
    padding: 5% 0;
    h2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .section {
        border-radius: 2px;
        padding: 20px 0;
        border: 1px solid #00a4a7b6;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.product {
    padding: 5% 0;
    background-color: white;
    ul {
        list-style-type: circle;
        li {
            color: #00a5a7;
            &::marker {
            }
        }
    }
}

.about {
    padding: 0 0 5% 0;
    background-color: white;
}

.clients {
    padding: 5% 0;
}

.connect {
    padding: 5% 0;
    background-color: white;
    form {
        width: 100%;
        .width {
            width: 45%;
            &:nth-child(2) {
                float: right;
            }
        }
        label,
        input,
        textarea {
            width: 100%;
            margin-top: 10px;
        }
        input,
        textarea {
            border: none;
            border-bottom: 1px solid #00a5a7;
            background-color: transparent;
            border-radius: 2px;
            &:-moz-placeholder {
                padding-left: 10px;
            }
        }
        .btn {
            margin-top: 30px;
            padding: 5px 25px;
        }
    }
}

footer {
    padding: 5% 0;
    background-color: #00a5a7;
    .section {
        display: flex;
        justify-content: space-around;
        p,
        span,
        a {
            color: white;
        }
        span,
        a {
            font-size: 13px;
            text-decoration: none;
        }
    }
}
