* {
  font-family: "cairo", sans-serif;
  font-weight: 400; }

@keyframes slide-in {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0%); } }
@keyframes slide-out {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }
@media (max-width: 1020px) {
  h1 {
    font-size: 36px; } }
@media (max-width: 900px) {
  h1 {
    font-size: 34px; } }
@media (max-width: 786px) {
  h1 {
    font-size: 30px; } }
@media (max-width: 570px) {
  h1 {
    font-size: 26px; } }
@media (max-width: 480px) {
  h1 {
    font-size: 22px; } }
@media (max-width: 420px) {
  h1 {
    font-size: 20px; } }

@media (max-width: 1020px) {
  h2 {
    font-size: 28px; } }
@media (max-width: 900px) {
  h2 {
    font-size: 26px; } }
@media (max-width: 786px) {
  h2 {
    font-size: 22px; } }
@media (max-width: 570px) {
  h2 {
    font-size: 20px; } }
@media (max-width: 480px) {
  h2 {
    font-size: 18px; } }

@media (max-width: 1020px) {
  h3 {
    font-size: 24px; } }
@media (max-width: 900px) {
  h3 {
    font-size: 22px; } }
@media (max-width: 786px) {
  h3 {
    font-size: 18px; } }
@media (max-width: 570px) {
  h3 {
    font-size: 16px; } }
@media (max-width: 480px) {
  h3 {
    font-size: 14px; } }

@media (max-width: 1020px) {
  h4 {
    font-size: 21px; } }
@media (max-width: 900px) {
  h4 {
    font-size: 19px; } }
@media (max-width: 786px) {
  h4 {
    font-size: 15px; } }
@media (max-width: 570px) {
  h4 {
    font-size: 13px; } }

@media (max-width: 786px) {
  h5 {
    font-size: 14px; } }
@media (max-width: 570px) {
  h5 {
    font-size: 12px; } }

html {
  scroll-behavior: smooth; }

#home {
  height: 100vh; }

.btn {
  background-color: #00a5a7;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 13px; }
  .btn:hover {
    transform: scale(1.01);
    transition: all 150ms ease-in-out;
    color: whitesmoke; }

.blue {
  color: #00a5a7; }

body {
  background-image: url("../images/services/SprayBG2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }

.top-header {
  justify-content: space-between;
  border-bottom: 1px solid #4f4f4f; }
  .top-header p {
    font-size: 12px; }
  .top-header .address span {
    color: #575757; }

.menu-section {
  align-items: center; }
  .menu-section img {
    width: 8%;
    margin-top: 5px;
    object-fit: contain; }
  .menu-section .menu {
    width: 100%;
    overflow: hidden;
    left: 10px;
    transition: all 150ms ease-in-out;
    z-index: 1000; }
    .menu-section .menu .hamburger {
      background-color: rgba(255, 255, 255, 0.774);
      padding: 1%;
      display: flex;
      border-radius: 5px;
      align-items: center;
      outline: none; }
      .menu-section .menu .hamburger .hamburger-box {
        display: flex;
        justify-content: center; }
      .menu-section .menu .hamburger .hamburger-inner {
        background-color: #00a5a7;
        width: 30px; }
        .menu-section .menu .hamburger .hamburger-inner::after, .menu-section .menu .hamburger .hamburger-inner::before {
          background-color: #00a5a7;
          width: 30px; }
    .menu-section .menu ul {
      list-style: none;
      background-color: rgba(255, 255, 255, 0.774);
      margin: 0px;
      padding: 0  30px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      align-items: center;
      display: none;
      transition: all 300ms ease-in-out;
      animation-duration: 1s; }
      .menu-section .menu ul li {
        cursor: pointer; }
        .menu-section .menu ul li div {
          display: inline-block;
          margin: 0 30px; }
        .menu-section .menu ul li a {
          text-decoration: none;
          position: relative;
          color: black;
          font-weight: 500;
          display: inline-block; }
          .menu-section .menu ul li a:hover::after {
            position: absolute;
            content: "";
            left: 3%;
            bottom: -100%;
            width: 95%;
            background-color: #00a5a7;
            height: 5px; }
          .menu-section .menu ul li a:nth-of-type(4):hover::after {
            width: 95%; }
    .menu-section .menu button {
      padding: 10px 15px; }

.banner {
  margin: 50px 0 8% 0; }
  .banner h1 {
    font-size: 60px;
    font-weight: 700;
    color: #1c1c1c;
    position: relative; }
    .banner h1::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -20px;
      width: 10%;
      height: 3px;
      background-color: #00a5a7; }
  .banner p,
  .banner h5 {
    font-weight: 700;
    color: #1c1c1c; }
  .banner h5 {
    margin-top: 40px; }
  .banner .btn {
    margin-top: 20px;
    padding: 15px 20px;
    font-weight: 700; }

.white {
  width: 100%;
  background-color: white;
  padding: 8% 0;
  position: relative;
  overflow: hidden; }
  .white .plus {
    position: absolute;
    height: 200px;
    width: 300px;
    overflow: hidden;
    left: 20px;
    color: #00a5a7;
    top: -10px;
    z-index: 0;
    opacity: 0.3; }
  .white .brochure {
    margin-bottom: 8%; }
    .white .brochure .brochure-section {
      position: relative;
      z-index: 1;
      width: 45%;
      border: 1px solid #00a5a7;
      border-radius: 2px;
      padding: 30px 30px;
      background-color: white;
      display: inline-flex; }
      .white .brochure .brochure-section img {
        width: 40%;
        margin-right: 30px; }
      .white .brochure .brochure-section p {
        margin: 0;
        direction: rtl; }
    .white .brochure .margin {
      margin: 0 auto 25px auto;
      display: flex; }
    .white .brochure .brochure-info {
      padding: 20px 0; }
      .white .brochure .brochure-info .btn {
        padding: 15px 20px; }
  .white .services {
    margin: 5% 0; }
    .white .services h2 {
      width: 100%; }
    .white .services .img {
      height: inherit;
      background-position: center;
      background-size: cover; }
    .white .services .info {
      position: relative;
      padding: 5%; }
      .white .services .info h3 {
        position: absolute;
        top: 45%; }
    .white .services .blue {
      color: #00a5a7; }
    .white .services.part-1 .img {
      background-image: url("../images/services/service2.png"); }
    .white .services.part-1 h3 {
      right: -100px;
      transform: rotate(90deg) translateY(-50%); }
    .white .services.part-2 .img {
      background-image: url("../images/services/spray.jpg"); }
    .white .services.part-2 h3 {
      left: -100px;
      transform: rotate(-90deg) translateY(-50%); }
    .white .services.part-3 .img {
      background-image: url("../images/services/crew3.jpg"); }
    .white .services.part-3 h3 {
      right: -100px;
      transform: rotate(90deg) translateY(-50%); }

.we-do {
  background-color: transparent;
  padding: 5% 0; }
  .we-do h2 {
    width: 100%;
    margin-bottom: 20px; }
  .we-do .section {
    border-radius: 2px;
    padding: 20px 0;
    border: 1px solid #00a4a7b6;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .we-do .section img {
      height: 50%;
      margin-bottom: 10px; }

.product {
  padding: 5% 0;
  background-color: white; }
  .product ul {
    list-style-type: circle; }
    .product ul li {
      color: #00a5a7; }

.about {
  padding: 0 0 5% 0;
  background-color: white; }

.clients {
  padding: 5% 0; }
  .clients .swiper-container {
    width: 100%; }
    .clients .swiper-container .swiper-slide {
      display: flex;
      align-items: center; }
      .clients .swiper-container .swiper-slide img {
        width: 100%;
        filter: grayscale(1); }

.connect {
  padding: 5% 0;
  background-color: white; }
  .connect img {
    width: 80%; }
  .connect form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .connect form .width {
      width: 45%; }
      .connect form .width:nth-child(2) {
        float: right; }
    .connect form label,
    .connect form input,
    .connect form textarea {
      width: 100%;
      margin-top: 10px; }
    .connect form input,
    .connect form textarea {
      border: none;
      border-bottom: 1px solid #00a5a7;
      background-color: transparent;
      border-radius: 2px; }
      .connect form input:-moz-placeholder,
      .connect form textarea:-moz-placeholder {
        padding-left: 10px; }
    .connect form .btn {
      margin-top: 30px;
      padding: 5px 25px; }

footer {
  padding: 5% 0;
  background-color: #00a5a7; }
  footer .section {
    display: flex;
    justify-content: space-around; }
    footer .section p,
    footer .section span,
    footer .section a {
      color: white; }
    footer .section span,
    footer .section a {
      font-size: 13px;
      text-decoration: none; }
    footer .section img {
      width: 20%; }

/*# sourceMappingURL=style.css.map */
