* {
  font-family: 'cairo', sans-serif;
  font-weight: 400; }

.btn {
  background-color: #00a5a7;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 13px; }
  .btn:hover {
    transform: scale(1.01);
    transition: all 150ms ease-in-out;
    color: whitesmoke; }

.blue {
  color: #00a5a7; }

body {
  background-image: url("../images/services/SprayBG2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }

.top-header {
  justify-content: space-between;
  border-bottom: 1px solid #4f4f4f; }
  .top-header p {
    font-size: 12px; }
  .top-header .address span {
    color: #575757; }

.menu-section {
  justify-content: space-between;
  align-items: center; }
  .menu-section img {
    width: 8%;
    margin-top: 5px;
    object-fit: contain; }
  .menu-section .menu {
    width: 100%; }
    .menu-section .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center; }
      .menu-section .menu ul li {
        position: relative;
        cursor: pointer;
        font-weight: 500; }
        .menu-section .menu ul li span {
          margin: 0 15px; }
        .menu-section .menu ul li:hover::after {
          position: absolute;
          content: '';
          left: 3%;
          bottom: -100%;
          width: 55%;
          background-color: #00a5a7;
          height: 5px; }
        .menu-section .menu ul li:nth-of-type(4):hover::after {
          width: 95%; }
    .menu-section .menu button {
      padding: 10px 15px; }

.banner {
  margin: 50px 0 8% 0; }
  .banner h1 {
    font-size: 60px;
    font-weight: 700;
    color: #1c1c1c;
    position: relative; }
    .banner h1::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -20px;
      width: 10%;
      height: 3px;
      background-color: #00a5a7; }
  .banner p, .banner h5 {
    font-weight: 700;
    color: #1c1c1c; }
  .banner h5 {
    margin-top: 40px; }
  .banner .btn {
    margin-top: 20px;
    padding: 15px 20px;
    font-weight: 700; }

.white {
  width: 100%;
  background-color: white;
  padding: 8% 0;
  position: relative;
  overflow: hidden; }
  .white .plus {
    position: absolute;
    height: 200px;
    width: 300px;
    overflow: hidden;
    left: 20px;
    color: #00a5a7;
    top: -10px;
    z-index: 0;
    opacity: 0.3; }
  .white .brochure {
    margin-bottom: 8%; }
    .white .brochure .brochure-section {
      position: relative;
      z-index: 1;
      width: 45%;
      border: 1px solid #00a5a7;
      border-radius: 2px;
      padding: 30px 50px;
      display: inline-flex;
      justify-content: space-between; }
      .white .brochure .brochure-section p {
        margin: 0; }
    .white .brochure .margin {
      margin: 0 auto 25px auto;
      display: flex; }
    .white .brochure .brochure-info {
      padding: 20px 0; }
      .white .brochure .brochure-info .btn {
        padding: 15px 20px; }
  .white .services {
    margin: 5% 0; }
    .white .services h2 {
      width: 100%; }
    .white .services .img {
      height: inherit;
      background-position: center;
      background-size: cover; }
    .white .services .info {
      position: relative;
      padding: 5%; }
      .white .services .info h3 {
        position: absolute;
        top: 45%; }
    .white .services .blue {
      color: #00a5a7; }
    .white .services.part-1 .img {
      background-image: url("../images/services/service2.png"); }
    .white .services.part-1 h3 {
      right: -100px;
      transform: rotate(90Deg) translateY(-50%); }
    .white .services.part-2 .img {
      background-image: url("../images/services/spray.jpg"); }
    .white .services.part-2 h3 {
      left: -100px;
      transform: rotate(-90Deg) translateY(-50%); }
    .white .services.part-3 .img {
      background-image: url("../images/services/crew3.jpg"); }
    .white .services.part-3 h3 {
      right: -100px;
      transform: rotate(90Deg) translateY(-50%); }

.we-do {
  background-color: transparent;
  padding: 5% 0; }
  .we-do h2 {
    width: 100%;
    margin-bottom: 20px; }
  .we-do .section {
    border-radius: 2px;
    padding: 20px 0;
    border: 1px solid #00a4a7b6;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.product {
  padding: 5% 0;
  background-color: white; }
  .product ul {
    list-style-type: circle; }
    .product ul li {
      color: #00a5a7; }

.about {
  padding: 0 0 5% 0;
  background-color: white; }

.clients {
  padding: 5% 0; }

.connect {
  padding: 5% 0;
  background-color: white; }
  .connect form {
    width: 100%; }
    .connect form .width {
      width: 45%; }
      .connect form .width:nth-child(2) {
        float: right; }
    .connect form label, .connect form input, .connect form textarea {
      width: 100%;
      margin-top: 10px; }
    .connect form input, .connect form textarea {
      border: none;
      border-bottom: 1px solid #00a5a7;
      background-color: transparent;
      border-radius: 2px; }
      .connect form input:-moz-placeholder, .connect form textarea:-moz-placeholder {
        padding-left: 10px; }
    .connect form .btn {
      margin-top: 30px;
      padding: 5px 25px; }

/*# sourceMappingURL=style.css.map */
